SECRET_KEY=django-insecure-x0xvuw$18yr1ix%&hk+v+-v(c40lae39)gb^a$)s@b3$k!080@
DEBUG=True
DB_NAME=CCC_Management
DB_USER=
DB_PASSWORD=
DB_PORT=
DB_HOST=localhost
# REDIS_HOST=redis
# REDIS_PORT=6379
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=EMAIL_HOST_USER

LOG_DB_NAME=ccc_manager_logs_db
LOG_DB_USER=
LOG_DB_PASSWORD=
LOG_DB_PORT=5432